body	{
	font-family: 'PT Sans', sans-serif ;
	text-align: center;
	margin: -8px;
	margin-top: -5em;
}

/* ================ header ================*/

.header-box	{
	background-color: #232323 ;
	overflow: hidden;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 100;
	right: 0;
	left: 0;

	
}

.headline {
	color: white;
	float: left;
	margin-left: 1.5em;
	font font-weight: 100;
	margin-bottom: -21px;

}

.headline span {
	font-weight: 80;
	color: #3A5FCD;
}


.navbar {
	font-weight: 800;
	float: right;
	margin-right: 1em;
	margin-top: 1.4em;

}

.navbar ul {
	list-style: none ;
	text-transform: uppercase;

}

.navbar li {
	display: inline-block;


}

.navbar a {
	text-decoration: none;
	color: white;
	padding-right: 1em;
}

@media (max-width: 500px) {
	.headline {
		display: none;
		
	}

	.header-box {
		display: none;
	}
}
/*This is a class used for the Javascript

.sticky {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
} */

/*================= welcome ================*/

.welcoming-box {
	background-image: url(img/city.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 99;
	top: 0em;
	width: 100%;
}

.welcoming-box h1 {
	color: white;
	text-align: center;
	font-size: 6em;
	padding-top: 4em;
	margin-bottom: 0;

}

.welcoming-box p {
	color: white;
	text-align: center;
	font-size: 2em;
	margin: 0;
	padding-bottom: 13em;

}

@media (max-width: 500px) {
	.welcoming-box {
		top: -1.8em;
		font-size: 0.8em;
		margin-bottom: -1.85em;
	}
	.welcome-text {
		margin-top: -1em;

	}

}

/*============== introduction ===============*/

.introduction-box {
	background-color: #232323;
	outline-style: solid;
	outline-color: #3A5FCD;
	outline-offset: -2em;
	position: relative;
	/*box-shadow: 0 0.3em 2em #232323;*/
	padding-top: 0.1em;
	z-index: 99;
	width: 100%;
	margin-bottom: -16px;
}
.introduction-box h1 {
	color: #3A5FCD;
	background-color: #232323;
	font-size: 2em;
	position: absolute;
	padding: 0 0.2em;
	top: -0.6em;
	left: 50%;
	transform: translate(-50%);
}

.introduction-box p {
	padding: 5em 5em 5em 5em;
	color: white;
}



/*============== portfolio box ==============*/

.portfolio-box {
	overflow: auto;
	background-color: #3A5FCD;
	position: relative;
	width: 100%;
	padding-bottom: 6em;
	outline-style: solid;
	outline-color: white;
	outline-offset: -2em;
	box-shadow: 0 0.3em 2em #232323;

	
}

.port-item {
	display: flex;
	justify-content: center;
	padding-top: 6em;

}

.port-itemp {
	position: relative;
}

.item-desc {
	color: white;
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translate(-50%);
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	padding-bottom: 1em;
	bottom: 0;
	display: none;

}

.port-itemp:hover .item-desc {
	display: block;
}

.item-desc a {
	text-decoration: none;
	color: #3A5FCD;
	outline-style: solid;
	outline-color: #3A5FCD;
	padding: 0.2em 1em;
	font-weight: 900;


}

.item-desc a:hover {
	background-color: #3A5FCD;
	color: rgba(0,0,0,0.5);
}

.portfolio-box h1 {
	position: absolute;
	background-color: #3A5FCD;
	color: white;
	font-size: 2em;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	padding: 0 0.2em;
	top: -0.6em;

}

@media (max-width: 1728px) {
	.port-item {
		flex-wrap: wrap;

	}


	

}

@media (max-width: 500px) {
	.item-desc {
		display: block;
	}

	.portfolio-box {
		outline-style: none;
	}
}
/*============== contact box ================*/

.contact-box	{
	width: 100%;
	margin-bottom: 5em;
	margin-top: 5em;
}

.contact-box h1 {
	font-size: 2.5em;
	color: #252525;
	margin:1em;
}

.contact-box a {
	color: #252525;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 850;
	outline-style: solid;
	outline-color: #3A5FCD;
	/*outline-offset: 0.8em;*/
	padding: 0.8em;
	margin: 1em 1em 1em 1em;
}

.contact-box a:hover {
	background-color: #3A5FCD;
	color: white;
}

/* footer */

footer {
	background-color: #252525;
	position: relative;
	overflow: auto;
	bottom: 0;

}

footer h2 {
	color: white;
}

.footer-text {
	margin-right: 90em;
	color: white;
	float: left;
	position: absolute;
	padding: 0.8em;
}

.list {
	padding: 1em;
	margin-top: -1em;
}

.list-text {
	float: right;
}

.list-text ul {
	list-style: none;
}

.list-text a {
	text-decoration: none;
	color: white;
}



@media (max-width: 500px) {
	footer {
		display: flex;
		flex-direction: column;
		overflow: visible;
		position: relative;
		padding-bottom: 10em; 	

	}
	.footer-text {
		margin-right: 0;
	}
	.list {
		display: flex;
		flex-direction: row;
		position: relative;
		top: 10em;
		left: 50%;
		transform: translate(-50%);
	}
}
